/********TAG SELECTORS********/

a {
  color: #11999e;
  font-family: "Merriweather", serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

body {
  color: #40514e;
  font-family: "Merriweather", serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  font-weight: normal;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-size: 1.75rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

hr {
  border-style: dotted none none none;
  border-color: #eaf6f6;
  border-width: 6px;
  margin: 75px auto;
  width: 7%;
}

p {
  line-height: 2;
}

/********CLASS SELECTORS********/

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.btn {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding: 8px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.btn:hover {
  background: linear-gradient(to bottom, #30e3cb 5%, #2bc4ad 100%);
  background-color: #408c99;
}

.btn:active {
  position: relative;
  top: 1px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro {
  width: 40%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
}

.mountain {
  vertical-align: middle;
}

.profile-picture {
  height: 125px;
}

.skills-image {
  float: left;
  height: 70px;
  margin-right: 30px;
}

.skills-images-second {
  float: right;
  height: 70px;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.subtitle {
  font-weight: normal;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 90px;
}
